*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #eaedf2;
}

img{
  width: 30px;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav ul li{
  list-style: none;
  margin: 1rem 1.5rem;
}

p{
  font-weight: 700;
  margin: .5rem -1rem;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  flex-direction: column;
}
/*STYLE CALENDARIO*/
.calendarBody{
  width: 90VW;
  height: 300px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #00000028;
  padding: 0 1rem;
}

.calendarBody ul{
  list-style: none;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px 0;
}

.month-indicator{
  text-align: center;
  padding: 10px 0;
}

.popupAddEvent{
  width: 80vw;
  height: 100px;
  background: #3f90db;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #00000028;
}



.date ul li{
  margin-top: 1rem;
  background: #3f90db;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}