*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #eeeeee;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/*Input*/
.frmLogin{
  display: flex;
  flex-direction: column;
}

input{
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: .8rem .5rem;
  width: 300px;
  border: none;
}

/*Button*/

a{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2173BF;
  padding: .5rem 5rem;
  height: 40px;
  width: 300px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
}